@charset "utf-8";
@font-face {
    font-family: 'droid';
    src: url('../fontes/idroid.otf');
}
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,600;1,100;1,200;1,300;1,600;1,700&display=swap');

*{
    font-family: sans-serif;
}

:root{
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --fonte-destaque: 'Bebas Neue', 'cursive';
}

*{
padding: 0px;
margin: 0px;

}
body{
    background-color: var(--cor1);
}

header{
    
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
    

}
header h1{
    color: white;
    font-size: 3em;
    font-family: 'Bebas Neue';
    font-weight: normal;
    

    
}
header p{
    padding-top: 25px;
    
}

nav{
    background-color: var(--cor5);
    padding: 10px;
}

nav a{
    color:var(--cor1);
    padding: 10px;
    text-decoration: none;
     border-radius: 10px;
     font-weight: bold;
     transition-duration: 0.5s;
}

nav a:hover{
    background-color: var(--cor3);
    color: var(--cor4);
    
   
}

main{
    background-color: white;
    max-width: 1000px;
    min-width: 300px;
    margin: auto;
    text-align: justify;
    padding: 10px;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 50%);
    margin-bottom: 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}
main ul{
    padding-left: 30px;
}

main h1{
    font-family: 'droid';
    color: var(--cor4);
    font-weight: normal;
    padding-bottom: 10px;
    font-size: 1.8em;
}

main h2{
    font-family: 'droid';
    font-weight: normal;
    background-image: linear-gradient(to right, var(--cor1), transparent);
    padding-left: 10px;
}

main p{
    margin: 15px 0px;
}

main img{
    width: 100%;
}
main #droids{
    width: 370px;
}

img.pequena{
    display: block;
    margin: auto;
    width: 370px;
}
aside{
    background-color: var(--cor1);
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.247);
}
aside h3{
    background-color: var(--cor4);
    margin: -10px -10px 0px -10px;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
aside ul{
    columns: 2;
}

footer p{
    background-color: black;
    color: white;
    text-align: center;
}