@charset "utf-8";

*{
    font-family:Arial, Helvetica, sans-serif;
    text-align: justify;
}
body{
    background-image: linear-gradient(to left, #2F7373, #489991d7);
}
main{
    text-align: justify;
    background-color: white;
    height: 450px;
    width: 485px;
    margin: auto;
    padding: 8px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #215050ab ;
    
    
}
#principal{
    text-align: center;
    color: #8C4C46;
    text-shadow: 1px 1px 2px #3b1e1c8e ;
    margin-top: -10px;
}
.seg_2{
    text-align: center;
    color: #8C4C46;
    text-shadow: 1px 1px 2px #3b1e1c8e ;
    margin-bottom: -5px;
}
.p1{
    color: #8C4C46;
    margin-top: -5px;
    margin-bottom: -5px;

}
.p2{
    color: #8C4C46;
    margin-top: -5px;
    margin-bottom: -5px;
}
.p3{
    text-align: center;
    color: #8C4C46;
    
}
img{
    margin: auto;
    display: block;
    border:2px solid #8C4C46 ;
    border-radius: 5px;
    box-shadow: 5px 5px 10px #215050ab ;
    padding: 2px;  
       
}
img:hover{
    width: 220px;
}

p{
    text-indent: 25px;
}
